* {
    margin: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: arial, sans-serif;
    height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 95px;
}

#top-nav-link {
    padding: 1rem;
}


#top-nav-link > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    float: right;
    margin-right: 1rem;
}

#top-nav-link > ul > li {
    display: inline-block;
    padding-left: 1.5rem;
}

#top-nav-link > ul > li > a {
    color: #000000DE;
    text-decoration: none;
    font-size: 1.3rem;
}


#dp {
    border-radius: 50%;
}

main {
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    text-align: center;
}


#input-contain {
    position: relative;
    margin-top: 2.8rem;
    margin-bottom: 1.5rem;
    width: 42%;
    height: 44px;
}


#input-contain > img {
    position: absolute;
}

#input-contain > input {
    outline: none;
    font-size: 1.6rem;
    padding: 0 5rem;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#search {
    margin-top: -10px;
    top: 50%;
    left: 5px;
}

#mic {
    margin-top: -12px;
    right: 10px;
    top: 50%;
}

#google-buttons {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#google-buttons > button {
    font-size: 1.4rem;
    color: #3c4043;
    border-radius: 4px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    padding: 0 16px;
    height: 34px;
    margin: 0 4px;
}

#google-buttons > button:hover {
    border: 1px solid #d0d2d3;
    box-shadow: 0 3px 3px #f8f9fa;
}

main > p {
    font-size: small;
}


main > p > a {
    color: #1a0dab;
    text-decoration: none;
    padding: 0 3px;
}

main > p > a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f2f2f2;
    width: 100%;
    position: relative;
    margin-top: -95px;
}

#nig-contain {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    background-color: inherit;
}

#nig-contain > p {
    color: rgba(0,0,0,.54);
    font-size: 15px;
}

#footer-list {
    padding: 15px;
    font-size: 15px;
    background-color: inherit;
}



#footer-list > ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}



#footer-list > ul > div > li {
    display: inline-block;
    padding: 0 15px;
}


#footer-list > ul > div > li > a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

#footer-list > ul > div > li > a:hover {
    text-decoration: underline;
}